
<h3>WellCome To MicharlRoshen's Home</h3>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= link_to t('.new', :default => t("收入帐单")),
            come_in_bills_path,
            :class => 'btn btn-primary' %><br/> <br/>

<%= link_to t('.new', :default => t("支出帐单")),
            cost_bills_path,
            :class => 'btn btn-primary' %><br/> <br/> 
    </div>
    <div class="tab-pane" id="tab2">
      
<%= link_to t('.new', :default => t("收入类型")),
            come_in_types_path,
            :class => 'btn btn-primary' %><br/> <br/> 

<%= link_to t('.new', :default => t("支出类型")),
            cost_types_path,
            :class => 'btn btn-primary' %><br/> <br/>                         
    </div>
  </div>
</div>


