<h3>WellCome To MicharlRoshen's Home</h3>
<%= link_to t('.new', :default => t("收入帐单")),
            come_in_bills_path,
            :class => 'btn btn-primary' %><br/> <br/>

<%= link_to t('.new', :default => t("支出帐单")),
            cost_bills_path,
            :class => 'btn btn-primary' %><br/> <br/> 

<%= link_to t('.new', :default => t("收入类型")),
            come_in_types_path,
            :class => 'btn btn-primary' %><br/> <br/> 

<%= link_to t('.new', :default => t("支出类型")),
            cost_types_path,
            :class => 'btn btn-primary' %><br/> <br/>                         